.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}
.Modal-content {
  width: 450px;
  height: 200px;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}
.Modal-content > p:first-child {
  color: #000;
  margin-bottom: 20px;
  font-weight: 600;
}
.Modal-content > p:nth-child(2) {
  margin-bottom: 30px;
}
.btn-modal {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.btn-modal > p {
  padding: 8px 20px;
  border-radius: 6px;
  cursor: pointer;
}
.btn-modal > p:hover {
  opacity: 0.9;
}
.btn-modal > p:first-child {
  background-color: #24a4d8;
  color: #fff;
}
.btn-modal > p:nth-child(2) {
  background-color: #dd2345;
  color: #fff;
  margin-left: 20px;
}
