.Cart-container {
  width: 1200px;
  margin: 0 auto;
  background: #181818;

  padding-top: 60px;
}
.Cart {
  padding: 30px;
  border-radius: 5px;
  border: 1px solid #515151;
}
.Cart-container > h3 {
  color: #fff;
  margin-bottom: 20px;
}
.ticket-item {
  width: 100%;
  border: 1px solid #515151;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.ticket-item > div {
  display: flex;
}
.ticket-item > div > p {
  margin-bottom: 5px;
  margin-right: 20px;
  color: #aaaaaa;
}
.ticket-item > div > p > span {
  color: #fff;
}
.ticket-item .wait {
  color: red;
  font-style: italic;
}
.cancel-btn {
  border: none;
  padding: 10px 30px;
  margin: 10px 0;
  background: white;
  color: red;
  font-size: 18px;
  cursor: pointer;
}
