@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  user-select: none;
}

a {
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}

a:link,
a:visited,
a:hover,
a:active {
  color: #000;
}

ul {
  list-style: none;
}

.app {
  background-color: #000;
}
