.navbar-container {
  background-color: rgba(0, 0, 0, 0.9);
  height: 70px;
}
.close-modal-btn {
  margin: 5px 30px;
}
.close-modal-btn:hover {
  cursor: pointer;
}
.confirm-login-btn {
  color: #fff;
}
.navbar {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.navbar-logo {
  width: 20%;
}
.navbar-logo img {
  width: 50px;
  height: 50px;
}
.navbar-tab {
  width: 35%;
}
.navbar-tab > ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.navbar-tab > ul li a {
  color: #fff;
  display: block;
  padding: 17px 10px;
  font-size: 24px;
}
.navbar-tab > ul > li > a.active {
  border-bottom: 5px solid #dc1a22;
}
.navbar-auth {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  white-space: nowrap;
}
.navbar-auth > a {
  color: #fff;
  display: block;
  padding: 12px;
  font-size: 20px;
}
.navbar-auth > a:first-child {
  margin-right: 5px;
}
.navbar-auth a.active {
  background-color: #dc1a22;
}
.navbar-user {
  position: relative;
  display: flex;
}
.navbar-auth .navbar-user > img {
  width: 50px;
  height: 50px;
  color: #fff;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
}
.nav-menu-box {
  position: absolute;
  width: 150px;
  /* height: 80px; */
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.9);
  right: 0;
  top: 61px;
  border-radius: 5px;
  z-index: 999;
}
.nav-menu-box::before {
  content: '';
  border: 10px solid;
  border-color: transparent transparent #fff transparent;
  top: -16px;
  position: absolute;
  display: block;
  right: 15px;
}
.nav-menu-box p {
  padding: 8px;
  cursor: pointer;
}
.nav-menu-box p:first-child {
  border-bottom: 1px solid #ccc;
}
.nav-menu-box p:hover,
.navbar-auth a:first-child:hover,
.navbar-tab > ul > li > a:hover {
  color: #dc1a22;
  transition: all 0.35s ease;
}
.push-noti {
  font-size: 12px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  padding: 5px;
  border-radius: 50px;
  background: #dc1a22;
  position: absolute;
  right: 16px;
  top: 8px;
}
